
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@500;600;700;800&display=swap");

// $color2: #111111;
// $color3: #D56756;
$font1: Helvetica;


:root {
    --color0: white;
    --color1: #010101;
    --color2: #D56756;
}

@font-face {
    font-family: sprat;
    src: url(Sprat-Regular.otf);
    font-weight: 700
}

// .dark-theme {
//     --color0: #111111;
//     --color1: white;
// }


// @import "bootstrap/variables";

html, body {
    scroll-behavior: smooth;
    height: 100%;
}
 

body {
    // overflow-y: hidden;
    // min-height: 100%;
    margin: 0 5vw;
    // background-color: $color1; 
    // background: url(imgs/d32-1.svg) no-repeat;
    // background-position-y: center;
    // background-position-x: 53px;
    // background-size: 50vw;

    // disable selections
    // retrieved from https://stackoverflow.com/a/4407335
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */

    // hide scrollbar
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}



// Home Page Introduction
.intro {
    background: var(--color0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    background: var(--color2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.intro-text {
    color: var(--color1);
    font-family: sprat, serif;
    font-size: 5rem;
    text-align: center;
    // font-weight: 900;
}

.hide {
    background: var(--color0);
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}


// HOME (index)
#bg-container, #homespace {
    display: none;
}

#mobile-home-bg {
    // height: calc(100vh - #{$nav-link-height} - #{$nav-link-padding-y
    img {
        height: 60vh;
        margin-top: 10vh;
        margin-left: -9px !important;
    }
}

nav {
    font-family: $font1;
    margin-top: 15px;

    .navbar-brand {
        // margin-left: 20px;
        font-weight: 700;
        font-size: 25px;
        text-transform: uppercase;
        font-family: Syne, sans-serif;
        text-align: center;
        transition: 0.2s;
        text-shadow: #1111112c 2px 1px 2px;
    }

    .navbar-brand:hover {
        transition: 0.2s;
        transform: rotate(-4deg);
        text-shadow: #1111117e 2px 1px 2px;
        color: var(--color2);
    }

    .nav-link {
        font-weight: 500;
        margin-left: 2px;
        text-transform: uppercase;
        font-family: Syne, sans-serif;
        color: var(--color1);
        // min-width: 110px;
        padding-bottom: 5px;
        transition: 0.2s;
    }

    .nav-link:hover {
        // font-weight: 550;
        // padding-bottom: 5px;
        transform: scale(101%);
        transition: 0.2s;
        color: var(--color2);
    }

    
    .nav-link.here {
        font-weight: 550;
    }
}




@media only screen and (min-width: 992px) {

    body {
        margin: 0 0;
    }

    #nav-mobile {
        display: none;
    }

    #mobile-home-bg {
        display: none;
    }

    nav {
        position: absolute !important;
        left: 1.5%;
        transform: translateY(80%);

        .nav-link {
            font-size: 2vw;
            background-color: transparent;
            width: max-content;
            margin: 0 4vw 20px 4vw;
            text-align: center;
            transition: 0.2s;

            background: linear-gradient(to right, var(--color2), var(--color2) 50%, var(--color0) 50%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 200% 100%;
            background-position: 100%;
            transition: background-position 275ms ease;
        }
    
        .nav-link:hover {
            // font-weight: 550;
            transform: scale(102%);
            transition: 0.2s;
            color: var(--color2);
            
            background-position: 0 100%;
        }

        .nav-link:active, .nav-link:focus {
            color: var(--color0);
        }

    }

    #bg-container, #homespace {
        display: block;
    }

    #bg-container {
        height: 100%;
        width: 100%;
        background-color: var(--color1);
        
        // overflow-x: hidden;
        overflow: hidden;
        #bg {
            background-image: url(imgs/home.svg);   // Source: https://wallup.net/nature-animals-dog-artwork-photography-monochrome-portrait-black-background-muzzles-lights-eyes-collars/
            height: 100%;
            width: 100%;
            border: 0;
            border-image: none;

            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            // background-attachment: fixed;
            // transform: translateX(20px);

            // transform: translateY(calc(var(--scroll) * 2px));
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, calc(var(--scroll) * 3), 0, 1);
            // overflow-y: visible;
            // transform: scale(100 / calc(var(--scroll)));
        }

        #dognity-home {
            position: absolute;
            bottom: 12%;
            left: 5.5%;
            
            // color: var(--color0);
            color: white;
            font-weight: 700;
            font-size: 7vw;
            text-transform: uppercase;
            font-family: Syne, sans-serif;
            position: fixed;
            transition: 0.2s;
            mix-blend-mode: difference;
            // filter: drop-shadow(4px 3px 2px #b1afafab);
            text-shadow: 4px 4px 2px rgba(255, 255, 255, 0.3), 1px 1px 0px rgba(0, 0, 0, 0.8);

            // animation-name: floating;
            animation-name: none;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            
        }

        #dognity-home:hover {
            // mix-blend-mode: normal;
            // transition: 0.2s;
            // // transform: rotate(-4deg);
            // text-shadow: #1111117e 2px 1px 2px;
            // color: var(--color2);
            cursor: default;
        }

        #scrolldown {
            position: absolute;
            bottom: 40px;
            left: 6%;
            width: 30px;
            // filter: drop-shadow(2px 4px 6px white);
            animation-name: floating;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }
    }

    @keyframes floating {
        0% { transform: translate(0,  0px); }
        50%  { transform: translate(0, 10px); }
        100%   { transform: translate(0, -0px); }   
    }

    // body {
    //     // margin: 0 50px;
    //     // background: url(imgs/home.svg) no-repeat center center;
    //     // background-size: cover;
    // }

    .d32 {
        visibility: hidden;
    }
}